<div class="jumbotron">
    <h1>Welcome to quiz portal!</h1>
    <br/><br/>
    <p>
        <em>1. Click on create quiz to create a quiz.</em>
        <br/><br/>
        <em>2. Click on take quiz to answer quiz</em>
        <br/><br/>
    </p>
</div>
{{outlet}}